*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --white: hsl(0, 0%, 100%);
}

$font-stack: "Manrope", sans-serif;

html {
  font-size: 16px;
}

body {
  font-size: inherit;

  font-family: $font-stack;
  background-color: var(--dark-blue);
}

.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__data {
    padding-top: 25px;
    h5 {
      color: var(--neon-green);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.125rem;
    }
    blockquote {
      color: var(--light-cyan);
      padding-block: 20px;
      padding-bottom: 30px;
      font-size: 1.25rem;
      font-weight: 600;
      &::before {
        content: ' "';
      }
      &::after {
        content: '" ';
      }
    }
  }
  &__content {
    background-color: var(--dark-grayish-blue);
    padding: 20px 20px 0px 20px;
    border-radius: 15px;
    max-width: 420px;
    text-align: center;
    h4 {
      color: var(--neon-green);
      font-weight: normal;
      text-transform: uppercase;
      font-size: 14px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    h1 {
      color: var(--white);
      font-size: 28px;
      padding-inline: 20px;
      padding-bottom: 40px;
    }
  }
  &__line {
    img {
      width: 100%;
      &:last-child {
        display: none;
      }
    }
  }
  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;

    button {
      background-color: var(--neon-green);
      padding: 20px;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      &:hover {
        transition: 0.5s ease-out;
        box-shadow: 0 0 25px var(--neon-green);
      }
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 375px) {
  html {
    font-size: 14px;
  }
  .main-section {
    &__content {
      margin-inline: 15px;
      h1 {
        font-size: 26px;
      }
    }
    &__line {
      img {
        &:last-child {
          display: block;
        }
        &:first-child {
          display: none;
        }
      }
    }
  }
}
